table { /* disable selection of buttons, etc.  */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* others */
}

#display { /* allow select in display */
  -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto; /* Safari */
     -khtml-user-select: auto; /* Konqueror HTML */
       -moz-user-select: auto; /* Firefox */
        -ms-user-select: auto; /* Internet Explorer/Edge */
            user-select: auto; /* others */
}

/* calculator buttons */
.button {
  border-radius: 10px;
  background-color: #0010FF;
  color: white;
  border-color: #0010FF;
  width: 80px;
  height: 40px;
  border: 2px;
  padding: 10px;
  font-family: "system-ui";
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

/* display */
#display {
  text-align: right;
  background-color: white;
  border-color: black;
  width: 100%;
  font-size: 30px;
  font-family: 'Lucida Console', Monaco, monospace;
}

/* Remove default bullets */
ul, #constTreeView, #unitTreeView {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#constTreeView, #unitTreeView {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
