/* provide a dark gray border around the whole page */
body {
	border: 30px solid #333;
	margin: 0px;
}

/* provides a white padding inside the dark gray border */
.mainpadding {
	padding-left: 20px;
	padding-right: 20px;
}

/* allow text to overlay the top of the image on the banner */
.nomargin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.overlayimage {
	position: relative;
}
.overlaytext {
	position: absolute;
	margin-top: 5px;
	top: 10px;
	left: 20px;
}

/* this keeps text from flowing around an image when it is too narrow to look good */
p:before {
  content: "";
  width: 18em;
  display: block;
  overflow: hidden;
}
